.box {
  width: 100%;
  height: auto;
}

.box .content {
  width: 85%;
  margin: auto;
}

.box .top_nav {
  width: 100%;
  height: 30px;
  background: #eee;
}

.box .top_nav .content .lef {
  width: 204px;
  height: 30px;
  font-size: 12px;
}

.box .top_nav .content .lef .login {
  width: 24px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  color: #666;
}

.box .top_nav .content .lef span {
  display: inline-block;
  width: 13px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.box .top_nav .content .lef .reg {
  width: 48px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  color: #666;
}

.box .top_nav .content .lef a:hover {
  color: lightskyblue;
}

.box .top_nav .content .lef .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  color: lightskyblue;
}

.box .top_nav .content .lef .down {
  width: 89px;
  height: 30px;
  line-height: 30px;
  color: #666;
  display: inline-block;
}

.box .top_nav .content .welcome {
  font-size: 12px;
  color: #999;
  height: 30px;
  line-height: 30px;
}

.box .top_nav .content .rig span {
  font-size: 12px;
  float: right;
  line-height: 30px;
  padding: 0 5px 0 5px;
}

.box .top_nav .content .rig a {
  line-height: 30px;
  float: right;
  color: #666;
  font-size: 12px;
}

.box .top_nav .content .rig a:hover {
  color: #3ab5e6;
}

.box .top_nav .content .Flist {
  width: 65px;
  height: 30px;
  overflow: hidden;
}

.box .top_nav .content .Flist .Fli {
  width: 100%;
  height: 100%;
  font-size: 12px;
  color: #666;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.box .top_nav .content .Flist .Fli .Slist {
  width: 65px;
  height: auto;
}

.box .top_nav .content .Flist .Fli .Slist li {
  width: 100%;
  height: 30px;
  font-size: 12px;
  color: #666;
  text-align: center;
}

.box .top_nav .content .Flist .Fli .Slist li:hover {
  color: #3ab5e6;
}

.box .top_nav .content .Flist:hover {
  overflow: visible;
  background: #eee;
}

.box .header {
  width: 85%;
  height: 115px;
  border-bottom: 1px solid #ddd;
  margin: auto;
}

.box .header .wd {
  width: 85%;
  height: 10px;
  margin: auto;
  padding-top: 35px;
}

.box .cart_head {
  width: 100%;
  height: auto;
}

.box .cart_head .content .cartH {
  width: 100%;
}

.box .cart_head .content .cartH p {
  width: 100%;
  padding-top: 10px;
}

.box .cart_head .content .cartH p .mycart {
  color: #333;
  font-size: 18px;
}

.box .cart_head .content .cartH p .msg {
  font-size: 14px;
  color: #999;
}

.box .cart_main {
  width: 100%;
  height: auto;
}

.box .cart_main .content .cartcon {
  width: 100%;
  height: auto;
}

.box .cart_main .content .cartcon .header {
  width: 100%;
  height: 51px;
  background: #eee;
}

.box .cart_main .content .cartcon .header #allchecked {
  width: 80px;
  height: 51px;
  line-height: 51px;
}

.box .cart_main .content .cartcon .header #allchecked input {
  margin: 0 8px 0 5px;
}

.box .cart_main .content .cartcon .header p {
  line-height: 51px;
}

.box .cart_main .content .cartcon .header .binf {
  width: 450px;
  height: 51px;
}

.box .cart_main .content .cartcon .header .UnitPrice {
  width: 160px;
  height: 51px;
  text-align: center;
}

.box .cart_main .content .cartcon .header .bnum {
  width: 120px;
  height: 51px;
  text-align: center;
}

.box .cart_main .content .cartcon .header .nmoney {
  width: 200px;
  height: 51px;
  text-align: center;
}

.box .cart_main .content .cartcon .header .operation {
  width: 188px;
  height: 51px;
}

.box .cart_main .content .cartcon #cart {
  width: 100%;
  height: auto;
}

.box .cart_main .content .cartcon #cart .goods {
  width: 100%;
  border: 1px solid #ddd;
}

.box .cart_main .content .cartcon #cart .goods .good_check {
  width: 80px;
  height: 80px;
  text-align: center;
}

.box .cart_main .content .cartcon #cart .goods .pic {
  width: 100px;
  height: 100px;
}

.box .cart_main .content .cartcon #cart .goods .pic img {
  width: 100px;
  height: 100px;
}

.box .cart_main .content .cartcon #cart .goods .good_name {
  width: 300px;
  height: 60px;
  text-align: center;
  font-size: 14px;
  color: #212121;
  margin: 8px 0 0;
}

.box .cart_main .content .cartcon #cart .goods .good_price {
  width: 160px;
  height: 30px;
  color: #212121;
  text-align: center;
  margin-top: 30px;
  margin-left: 50px;
}

.box .cart_main .content .cartcon #cart .goods .num {
  width: 130px;
  height: 65px;
  margin-top: 30px;
}

.box .cart_main .content .cartcon #cart .goods .num .cutnum {
  cursor: pointer;
  display: inline-block;
  width: 29px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border: 1px solid #ddd;
  border-right: 1px solid transparent;
}

.box .cart_main .content .cartcon #cart .goods .num .nownum {
  width: 56px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border: 1px solid #ddd;
}

.box .cart_main .content .cartcon #cart .goods .num .addnum {
  cursor: pointer;
  border: 1px solid #ddd;
  border-left: 1px solid transparent;
  display: inline-block;
  width: 29px;
  height: 28px;
  text-align: center;
  line-height: 28px;
}

.box .cart_main .content .cartcon #cart .goods .good_total {
  width: 100px;
  height: 24px;
  margin: 30px 0 0 50px;
  color: #e4393c;
}

.box .cart_main .content .cartcon #cart .goods .good_total span {
  text-align: center;
}

.box .cart_main .content .cartcon #cart .goods .good_del {
  margin: 30px 0 0 40px;
  width: 60px;
  height: 80px;
}

.box .cart_main .content .cartcon #del {
  width: 100%;
  height: 81px;
  background: #eee;
  position: relative;
}

.box .cart_main .content .cartcon #del #allchecked {
  width: 80px;
  height: 81px;
  line-height: 81px;
  margin-left: 10px;
  padding-left: 20px;
}

.box .cart_main .content .cartcon #del #allnum {
  width: 100px;
  height: 81px;
  color: #666;
  text-align: center;
  line-height: 81px;
}

.box .cart_main .content .cartcon #del #delall {
  width: 100px;
  height: 81px;
  line-height: 81px;
  padding: 0 30px;
}

.box .cart_main .content .cartcon #del #delall a {
  color: #212121;
}

.box .cart_main .content .cartcon #del .total {
  width: 713px;
  height: 81px;
  text-align: right;
  margin: 14px 0 0 0px;
}

.box .cart_main .content .cartcon #del .total #totalprice {
  font-size: 22px;
  color: #212121;
}

.box .cart_main .content .cartcon #del .total #totalprice .payMon {
  font-size: 22px;
  color: #e4393c;
}

.box .cart_main .content .cartcon #del .total .allpay {
  font-size: 12px;
  color: #666;
}

.box .cart_main .content .cartcon #del .settlement {
  width: 100px;
  height: 81px;
  background: #e4393c;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 81px;
  cursor: pointer;
}

.box .cart_main .content .cartcon #del .logMsg {
  width: 400px;
  height: 150px;
  border: #3ab5e6;
  box-shadow: 1px 1px 10px #3ab5e6;
  z-index: 999;
  background: #fff;
  position: absolute;
  top: -300px;
  left: 450px;
  display: none;
}

.box .cart_main .content .cartcon #del .logMsg .msg {
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-top: 20px;
}

.box .cart_main .content .cartcon #del .logMsg .yes {
  width: 60px;
  height: 35px;
  background: #3ab5e6;
  font-size: 14px;
  color: #eee;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  margin: 50px 0 0 130px;
  cursor: pointer;
}

.box .cart_main .content .cartcon #del .logMsg .no {
  width: 60px;
  height: 35px;
  background: #3ab5e6;
  font-size: 14px;
  color: #eee;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  margin-left: 20px;
  cursor: pointer;
}

.box .cart_main .content .cartcon #del .paySuccess {
  width: 200px;
  height: 120px;
  border: 1px solid #3ab5e6;
  box-shadow: 1px 1px 9px #3ab5e6;
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  color: #58bc58;
  position: absolute;
  top: -300px;
  left: 450px;
  z-index: 999;
  background: #fff;
  display: none;
}

.box .cart_main .content .cartcon #del .paySuccess .ok {
  width: 50px;
  height: 30px;
  background: #3ab5e6;
  text-align: center;
  line-height: 30px;
  color: #fee;
  font-size: 14px;
  margin-left: 80px;
  cursor: pointer;
}
